<mat-card class="sidebar">
  <mat-card-content>
    <div class="title">Student Dashboard</div>
    <br>
    <div class="avatar-upload">
      <img [src]="avatarUrl" alt="Avatar" class="avatar">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
      <label for="fileInput" class="upload-button">Upload Avatar</label>
    
    </div>
    <br>
  

    <ul>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="home"></mat-icon>
        <a routerLink="/Dashboard">Home</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="text"></mat-icon>
        <a routerLink="/messages">Messages</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="book"></mat-icon>
        <a routerLink="/classes">Classes</a>
      </li>
     
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="money"></mat-icon>
        <a routerLink="/payment-info">Fees</a>
      </li>
      
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="trophy"></mat-icon>
        <a routerLink="/exam-results">Results</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="clipboard"></mat-icon>
        <a routerLink="/schedule">Schedule</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="plane"></mat-icon>
        <a routerLink="/trips">Trips</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="calendar"></mat-icon>
        <a routerLink="/events">Events</a>
      </li>
      <li>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="person"></mat-icon>
        <a routerLink="/Profile">Profile</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
